/* 3.2 helpass-about-section */
.helpass-about-section,
.helpass-about-section-s2 {

    .about-left-content {
        position: relative;

        @include media-query(991px) {
            width: 500px;
            height: auto;
            margin: 0 auto;
        }

        @include media-query(767px) {
            width: 400px;
        }

        @include media-query(575px) {
            width: 300px;
        }

        .about-bg-shape {
            position: absolute;
            left: 0;
            top: 40px;
            width: 100%;
            height: 100%;

        }

    }

    .about-right-content {
        margin-left: 100px;

        @include media-query(1399px) {
            margin-left: 50px;
            margin-right: 30px;
        }

        @include media-query(1199px) {
            margin-left: 20px;
            margin-right: 0;
        }

        @include media-query(991px) {
            margin-top: 50px;
            margin-left: 50px;
            margin-right: 50px;
        }

        @include media-query(767px) {
            margin: 0;
            margin-top: 50px;
        }

        .wpo-section-title {
            text-align-last: left;
            margin-bottom: 20px;

            h2 {
                margin-top: 15px;
                font-size: 65px;
                line-height: 75px;
                text-align: left;

                @include media-query(1399px) {
                    padding-right: 50px;
                }

                @include media-query(1199px) {
                    padding-right: 0;
                    font-size: 55px;
                    line-height: 60px;
                }

                @include media-query(991px) {
                    padding-right: 50px;
                    font-size: 40px;
                    line-height: 50px;
                }

                @include media-query(767px) {
                    font-size: 30px;
                    line-height: 40px;
                    padding-right: 60px;
                }

                @include media-query(575px) {
                    font-size: 35px;
                    line-height: 45px;
                    padding-right: 0;
                }

                @include media-query(399px) {
                    font-size: 25px;
                    line-height: 35px;
                }

                span {
                    margin: 0;
                    position: relative;
                    text-transform: capitalize;
                    font-family: $heading-font;
                    font-weight: 400;
                    font-size: 60px;
                    line-height: 75px;
                    color: $red;

                    @include media-query(991px) {
                        font-size: 40px;
                        line-height: 50px;
                    }

                    @include media-query(767px) {
                        font-size: 30px;
                        line-height: 40px;
                    }

                    @include media-query(575px) {
                        font-size: 35px;
                        line-height: 45px;
                    }

                    @include media-query(399px) {
                        font-size: 25px;
                        line-height: 35px;
                    }
                }
            }

            p {
                text-align: left;
                font-weight: 400;
                font-size: 17px;
                line-height: 31px;
                color: $text-light-color;
                margin-top: 30px;

                @include media-query(991px) {
                    margin-top: 20px;
                    line-height: 25px;
                }

                @include media-query(767px) {
                    margin-top: 15px;
                    line-height: 20px;
                    font-size: 15px;
                    margin-bottom: 0;
                }

                @include media-query(575px) {
                    margin-top: 10px;
                }
            }
        }

        .about-item {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include media-query(575px) {
                display: block;
            }

            ul {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: space-between;

                @include media-query(575px) {
                    justify-content: left;
                }

                .icon {

                    i {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background: #ef7d4096;

                        &::before {
                            font-size: 20px;
                            line-height: 45px;
                            color: $white;
                        }
                    }
                }

                &:last-child {
                    @include media-query(1199px) {
                        margin-left: 20px;
                    }

                    @include media-query(575px) {
                        margin-left: 0;
                        margin-top: 10px;
                    }

                }

                .text {
                    margin-left: 15px;

                    h3 {
                        font-family: $base-font;
                        font-weight: 600;
                        font-size: 20px;
                        color: $heading-color;
                        margin-bottom: 5px;
                    }

                    span {
                        font-family: $base-font;
                        font-weight: 400;
                        font-size: 15px;
                        color: $text-light-color;
                    }
                }
            }
        }

        .theme-btn {
            background: $theme-primary-color-s2;
            margin-top: 40px;

            @include media-query(767px) {
                margin-top: 20px;
                padding: 12px 35px;

            }
        }
    }

}

/* 3.3 helpass-causes-section */
.helpass-causes-section,
.helpass-causes-section-s2 {
    background: $white;
    position: relative;
    z-index: 1;

    &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(../images/causes/causes-bg.png);
        z-index: -1;
        background-repeat: no-repeat;
    }

    .causes-wrap {

        .causes-item {
            background: $white;
            border-radius: 30px;
            padding: 20px;

            .image {

                img {
                    width: 100%;
                    border-radius: 30px;
                }
            }

            .causes-content {
                margin: 20px 20px;

                @media (max-width:1199px) {
                    margin: 20px 0;
                }

                .causes-title {
                    text-align: left;

                    span {
                        text-transform: capitalize;
                        font-size: 20px;
                        color: $theme-primary-color;
                        font-family: $heading-font;
                        line-height: 40px;

                        @include media-query(767px) {
                            font-size: 16px;
                        }

                        @include media-query(330px) {
                            font-size: 14px;
                        }
                    }

                    h3 {
                        margin: 0;
                        position: relative;
                        text-transform: capitalize;
                        font-family: $heading-font;
                        margin-top: 0;
                        font-size: 23px;
                        line-height: 30px;
                        font-weight: 500;

                        @include media-query(991px) {
                            font-size: 20px;
                        }

                        @include media-query(767px) {
                            font-size: 18px;
                            line-height: 25px;
                        }

                        @include media-query(399px) {
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                }

                .progress-item {
                    overflow: hidden;
                    padding: 20px 0;

                    .progress {
                        padding: 0;
                        width: 100%;
                        height: 8px;
                        background: #e5e5e5;
                        border-radius: 30px;
                        overflow: unset;
                        cursor: pointer;

                        .bar {
                            position: relative;
                            float: left;
                            min-width: 1%;
                            height: 100%;
                            background: $theme-primary-color;
                            z-index: 1;
                            border-radius: 30px;

                            span {
                                position: absolute;
                                right: 0;
                                top: -2px;
                                width: 12px;
                                height: 12px;
                                background: $white;
                                border-radius: 30px;
                                border: 4px solid $theme-primary-color;
                                z-index: -1;
                            }
                        }
                    }

                    .progres-label {
                        display: flex;
                        align-content: center;
                        justify-content: space-between;
                        margin-top: 10px;

                        .label-on,
                        .label-two {
                            p {
                                margin-bottom: 0;
                                font-size: 16px;
                                line-height: 28px;
                                color: $text-light-color;
                                font-family: $heading-font;

                                span {
                                    color: $dark-gray;
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                }

                .causes-text {
                    p {
                        margin-bottom: 0;
                        color: $text-light-color;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 25px;

                        @media (max-width:767px) {
                            line-height: 24px;
                        }
                    }
                }
            }

            .theme-btn-s2 {
                margin: 0 20px;
                margin-bottom: 20px;

                @media (max-width:1199px) {
                    margin: 0;
                    margin-bottom: 10px;
                }
            }

            &.causes-item-s2 {

                .causes-content {

                    .causes-title {

                        span {
                            color: $theme-primary-color-s2;
                        }
                    }

                    .progress-item {
                        .progress {
                            .bar {
                                background: $theme-primary-color-s2;

                                span {
                                    border: 4px solid $theme-primary-color-s2;
                                }
                            }
                        }

                    }
                }

                .theme-btn-s2 {
                    border: 2px solid $theme-primary-color-s2;

                    &:hover {
                        background: $theme-primary-color-s2;
                    }
                }
            }

            &.causes-item-s3 {

                .causes-content {

                    .causes-title {

                        span {
                            color: $theme-primary-color-s3;
                        }
                    }

                    .progress-item {
                        .progress {
                            .bar {
                                background: $theme-primary-color-s3;

                                span {
                                    border: 4px solid $theme-primary-color-s3;
                                }
                            }
                        }

                    }
                }

                .theme-btn-s2 {
                    border: 2px solid $theme-primary-color-s3;

                    &:hover {
                        background: $theme-primary-color-s3;
                    }
                }
            }
        }

        .owl-nav button {
            position: absolute;
            left: -9%;
            bottom: 50%;
            transform: translateY(-50%);
            height: 50px;
            width: 50px;
            line-height: 46px;
            text-align: center;
            transition: all .3s ease-in-out;
            background: $white;
            border: 1px solid transparent;
            text-decoration: none;
            border-radius: 50%;

            @media (max-width:1530px) {
                left: -4%;
            }

            @media (max-width:1399px) {
                left: -5%;
            }

            @media (max-width:1199px) {
                display: none;
            }

            &:hover {
                background: transparent;
                border: 1px solid $theme-primary-color;

                .left-arrow {
                    content: url('../images/left-arrow-hover.svg');
                }

                .right-arrow {
                    content: url('../images/right-arrow-hover.svg');
                }
            }


            .left-arrow,
            .right-arrow {
                position: absolute;
                left: 11px;
                top: 11px;
                transition: all .3s ease-in-out;
                width: 28px;
                height: 28px;
            }

            .left-arrow {
                content: url('../images/left-arrow.svg');
                opacity: 1;
                transition: all .3s ease-in-out;
            }

            .right-arrow {
                content: url('../images/right-arrow.svg');
                opacity: 1;
                transition: all .3s ease-in-out;
            }
        }

        .owl-nav button.owl-next {
            left: 105%;
            bottom: 50%;
            transform: translateY(-50%);

            @media (max-width:1530px) {
                left: 100%;
            }

            @media (max-width:1399px) {
                left: 101%;
            }
        }

        .owl-dots {
            @media (min-width:1200px) {
                display: none;
            }

            margin-top: 10px;
            text-align: center;
        }

        .owl-dots button.owl-dot.active span,
        .owl-dots button.owl-dot:hover span {
            background-color: $theme-primary-color;
            border-radius: 50%;
            height: 12px;
            width: 12px;
            position: absolute;
            top: 1px;
            left: 1px;
        }

        .owl-dots button.owl-dot {
            border: 1px solid gray;
            background: white;
            border-radius: 50%;
            height: 16px;
            width: 16px;
            position: relative;
            margin: 0 5px;
        }

    }
}

/* 3.4 helpass-team-section */
.helpass-team-section,
.helpass-team-section-s2 {
    position: relative;

    .row {
        @media (max-width:1199px) {
            justify-content: center;
        }

        @media (max-width:991px) {
            justify-content: left;
        }

    }

    .wpo-section-title {
        text-align: left;
        margin-right: 30px;
        margin-bottom: 0;

        @media (max-width:1199px) {
            text-align: center;
            margin-right: 0px;
            margin-bottom: 60px;
        }

        h2 {
            font-size: 45px;
            line-height: 65px;

            @include media-query(991px) {
                font-size: 40px;
                line-height: 50px;
            }

            @include media-query(767px) {
                font-size: 30px;
                line-height: 40px;
            }

            @include media-query(399px) {
                font-size: 25px;
                line-height: 35px;
            }
        }

        .theme-btn {
            background: $theme-primary-color-s2;
            margin-top: 30px;

            @media (max-width:1199px) {
                padding: 13px 47px;
                font-size: 16px;
                margin-top: 25px;
            }
        }
    }


    .team-wrap {
        width: 1020px;
        background: #F2FEFB;
        border-radius: 290px;
        padding: 30px;
        position: absolute;
        right: -27%;
        top: 50%;
        transform: translate(-50%, -50%);

        @media (max-width:1635px) {
            right: -32%;
        }


        @media (max-width:1540px) {
            width: 970px;
        }

        @media (max-width:1450px) {
            width: 930px;
        }

        @media (max-width:1399px) {
            width: 840px;
            right: -31%;
        }

        @media (max-width:1299px) {
            right: -33%;
            width: 800px;
        }

        @media (max-width:1199px) {
            position: unset;
            width: 100%;
            transform: unset;
        }

        @media (max-width:991px) {
            border-radius: 30px;
            padding-bottom: 0;
        }

        @media (max-width:767px) {
            padding: 0 60px;
            padding-top: 30px;
        }

        @media (max-width:575px) {
            padding: 0 30px;
            padding-top: 30px;
        }

        @media (max-width:399px) {
            padding: 0 10px;
            padding-top: 30px;
        }

        .team-single {
            overflow: hidden;

            @media (max-width:991px) {
                margin-bottom: 30px;
            }

            .image {
                position: relative;
                z-index: 1;
                border-radius: 50%;
                border: 10px solid $white;

                &::before {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    transition: all .3s ease-in-out;
                    background: rgba(56, 182, 154, 0.88);
                    border-radius: 50%;
                    opacity: 0;
                }

                img {
                    border-radius: 50%;
                    width: 100%;
                }

                .text {
                    position: absolute;
                    left: 50%;
                    top: 111%;
                    width: 100%;
                    height: 100%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    opacity: 0;
                    visibility: hidden;
                    transition: all .3s ease-in-out;

                    h2 {
                        margin-bottom: 0;

                        a {
                            font-size: 25px;
                            line-height: 37px;
                            color: $white;
                            transition: all .3s ease-in-out;

                            @media (max-width:1199px) {
                                font-size: 20px;
                                line-height: 30px;
                            }

                            &:hover {
                                color: $dark-gray;
                            }
                        }
                    }

                    span {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        color: $white;
                    }

                }
            }

            &:hover {
                .image {
                    &::before {
                        opacity: 1;
                    }

                    .text {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }


    }



}

/* 3.5 helpass-event-section */
.helpass-event-section,
.helpass-event-section-s2 {
    position: relative;
    z-index: 1;
    padding-bottom: 100px;

    @media (max-width:991px) {
        padding-bottom: 70px;
    }

    @media (max-width:767px) {
        padding-bottom: 60px;
    }


    &::before {
        position: absolute;
        content: "";
        left: 175px;
        top: 0;
        width: 100%;
        height: 100%;
        background: #FFF8EC;
        z-index: -1;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;

        @media (max-width:1600px) {
            left: 115px;
        }

        @media (max-width:1499px) {
            left: 65px;
        }

        @media (max-width:1199px) {
            left: 10px;
        }

        @media (max-width:575px) {
            left: 0;
        }
    }

    .event-shape {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;

        img {
            width: 100%;
        }
    }

    .event-wrap {

        .event-single-item {
            background: $white;
            margin-left: 175px;
            margin-bottom: 20px;
            border-radius: 30px;
            padding: 20px;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: space-between;

            @media (max-width:1199px) {
                margin-left: 50px;
            }

            @media (max-width:991px) {
                margin-left: 0px;
                padding: 18px;
            }

            @media (max-width:767px) {
                display: block;
            }

            @media (max-width:399px) {
                padding: 15px;
            }

            .event-image {
                @media (max-width:991px) {
                    width: 25%;
                }

                @media (max-width:767px) {
                    width: 100%;
                    margin: 0 auto;
                }

                img {
                    border-radius: 30px;

                    @media (max-width:767px) {
                        margin: 0 auto;
                    }
                }
            }

            .event-content {
                @media (max-width:991px) {
                    width: 50%;
                    margin: 0 20px;
                }

                @media (max-width:767px) {
                    width: 100%;
                    margin: 0 auto;
                    text-align: center;
                    margin-top: 10px;
                }

                p {
                    font-size: 17px;
                    margin-bottom: 0;
                    text-transform: capitalize;
                    color: $theme-primary-color;
                    font-family: $heading-font;
                }

                h2 {
                    font-size: 25px;
                    line-height: 33px;
                    color: $heading-font;
                    margin-top: 5px;

                    @media (max-width:767px) {
                        font-size: 20px;
                        line-height: 28px;
                        margin-bottom: 0;
                    }
                }

                .time {
                    align-content: center;
                    justify-content: space-between;
                    align-items: center;

                    @media (max-width:767px) {
                        justify-content: center;
                        text-align: center;
                    }

                    ul {
                        list-style: none;
                        display: flex;
                        align-content: center;
                        align-items: center;

                        li {
                            display: flex;
                            align-content: center;
                            align-items: center;
                            margin-right: 40px;

                            @media (max-width:767px) {
                                margin-right: 0;
                                width: 100%;
                                display: block;
                                margin-top: 5px;
                                margin-bottom: 15px;
                            }

                            h3 {
                                font-weight: 600;
                                font-size: 15px;
                                line-height: 28px;
                                margin-bottom: 0;
                                color: #9AA1A7;
                                font-family: $base-font;

                                @media (max-width:767px) {
                                    line-height: 20px;
                                }

                                span {
                                    color: #8072DB;
                                }
                            }

                        }
                    }
                }

            }

            .event-btn {
                @media (max-width:991px) {
                    width: 25%;
                }

                @media (max-width:767px) {
                    width: 100%;
                    text-align: center;
                }

                .theme-btn {
                    color: $dark-gray;
                    background: #F3EBDC;

                    @media (max-width:991px) {
                        padding: 12px 34px;
                    }

                    &:hover {
                        color: $white;
                    }
                }
            }
        }

        .event-slider {

            .slick-prev,
            .slick-next {
                background-color: $white;
                width: 55px;
                height: 55px;
                left: 3%;
                z-index: 1;
                border-radius: 50%;
                transition: all .3s ease-in-out;
                position: absolute;

                @media (max-width:1199px) {
                    left: -2%;
                }

            }

            .slick-prev {
                top: 268px;

                &:before {
                    content: url('../images/top-arrow.svg');
                    opacity: 1;
                    transition: all .3s ease-in-out;
                    width: 28px;
                    height: 28px;
                }

                &:hover {
                    &:before {
                        content: url('../images/top-arrow-hover.svg');
                    }
                }
            }

            .slick-next {
                top: 400px;

                &:before {
                    content: url('../images/buttom-arrow.svg');
                    transition: all .3s ease-in-out;
                    opacity: 1;
                    width: 28px;
                    height: 28px;
                }

                &:hover {
                    &:before {
                        content: url('../images/buttom-arrow-hover.svg');
                    }
                }
            }

            // /Styling the default Slick dots
            .slick-dotted.slick-slider {
                margin-bottom: 0;
            }

            .slick-dots {
                display: flex;
                justify-content: center;
                margin: 0;
                padding: 1rem 0;
                list-style-type: none;
                bottom: -50px;

                li {
                    margin: 0 0.25rem;
                }

                button {
                    display: block;
                    width: 1rem;
                    height: 1rem;
                    padding: 0;
                    border: none;
                    border-radius: 100%;
                    background-color: $theme-primary-color;
                    text-indent: -1px;
                    font-size: 0;

                    &:before {
                        font-size: 0;
                    }
                }

                li.slick-active button {
                    background-color: $theme-primary-color-s2;
                }

            }
        }
    }
}

/* 3.6 wpo-fun-fact-section */
.wpo-fun-fact-section {
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 100px 0;
    background: $white;

    @include media-query(767px) {
        padding-top: 50px;
        padding-bottom: 0;
    }

    .wpo-fun-fact-grids .grid {
        width: 25%;
        float: left;

        @include media-query(767px) {
            width: 50%;
            margin-bottom: 50px;
        }

        @include media-query(399px) {
            width: 100%;
        }

    }

    .grid {
        position: relative;

        .info {
            background: url(../images/fun-shape.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 224px;
            height: 233px;
            margin: 0 auto;
            padding: 50px 0;
            transition: all .3s ease-in-out;


            @include media-query(991px) {
                width: 170px;
                height: 170px;
                padding: 30px 0;
            }

            &:hover {
                background: url(../images/fun-shape-hover.svg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                h3 {
                    color: $white;
                }

                p {
                    color: $white;
                }
            }
        }

        h3 {
            color: $dark-gray;
            margin: 0 0 0.2em;
            font-weight: 500;
            font-size: 50px;
            line-height: 70px;
            transition: all .3s ease-in-out;

            @include media-query(1200px) {
                font-size: 45px;
            }

            @include media-query(991px) {
                font-size: 40px;
                line-height: 60px;
            }

            @include media-query(767px) {
                font-size: 30px;
            }

            span {
                font-family: $heading-font;
            }
        }
    }


    .grid h3+p {
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        margin: 0;
        color: $white;
        font-family: $heading-font;
        color: $red;
        transition: all .3s ease-in-out;

        @include media-query(1200px) {
            font-size: 20px;
        }

        @include media-query(991px) {
            font-size: 16px;
        }
    }
}


/* 3.7 helpass-testimonial-section */
.helpass-testimonial-section {
    background: url(../images/testimonial/testimonial.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .testimonial-wrap {
        .testimonial-slider {
            position: relative;

            .testimonial-content {
                background: $white;
                border-radius: 30px;
                padding: 70px 75px;
                display: flex;
                align-content: center;
                justify-content: center;
                margin: 20px 0;

                @media (max-width:1199px) {
                    padding: 40px 30px;
                }

                @media (max-width:991px) {
                    padding: 30px 20px;
                    display: block;
                }


                .image {
                    width: 20%;
                    margin-right: 55px;
                    text-align: center;
                    margin-top: 7px;

                    @media (max-width:1199px) {
                        margin-right: 30px;
                    }

                    @media (max-width:991px) {
                        margin: 0 auto;
                        width: 40%;
                    }

                    @media (max-width:399px) {
                        width: 50%;
                    }

                    img {
                        border-radius: 50%;
                        outline: 2px dashed #8072DB;
                        outline-offset: 5px;
                        background: #F3F1FF;
                        border-radius: 50%;
                        width: 200px;
                    }
                }

                .text {
                    width: 80%;
                    padding-right: 170px;

                    @media (max-width:1199px) {
                        padding-right: 80px;
                    }

                    @media (max-width:991px) {
                        padding-right: 0;
                        width: 100%;
                        margin-top: 30px;
                        text-align: center;
                    }

                    @media (max-width:399px) {
                        width: 100%;
                    }

                    p {
                        font-size: 25px;
                        line-height: 40px;
                        color: #6A6A6A;
                        font-family: $heading-font;
                        font-weight: 400;

                        @media (max-width:991px) {
                            font-size: 22px;
                            line-height: 35px;
                        }

                        @media (max-width:767px) {
                            font-size: 20px;
                            line-height: 30px;
                        }

                        @media (max-width:399px) {
                            font-size: 17px;
                            line-height: 25px;
                        }
                    }

                    h2 {
                        font-size: 34px;
                        line-height: 44px;
                        color: $dark-gray;

                        @media (max-width:991px) {
                            font-size: 25px;
                            line-height: 35px;
                            margin-top: 20px;
                            margin-bottom: 0;
                        }

                        @media (max-width:767px) {
                            font-size: 20px;
                            line-height: 30px;
                        }

                        @media (max-width:399px) {
                            font-size: 17px;
                            line-height: 25px;
                        }
                    }

                    span {
                        font-size: 20px;
                        line-height: 26px;
                        font-family: $heading-font;
                        color: $red;

                        @media (max-width:991px) {
                            font-size: 15px;
                            line-height: 20px;
                        }
                    }
                }
            }

            .slick-prev,
            .slick-next {
                background-color: #FFF8EC;
                width: 55px;
                height: 55px;
                left: 88%;
                z-index: 1;
                border-radius: 50%;
                transition: all 0.5s;
                position: absolute;
            }

            .slick-prev {
                top: 125px;

                @media (max-width:1199px) {
                    top: 125px;
                    left: 90%;
                }

                &:before {
                    content: url('../images/top-arrow.svg');
                    opacity: 1;
                    transition: all .3s ease-in-out;
                }

                &:hover {
                    &:before {
                        content: url('../images/top-arrow-hover.svg');
                    }
                }
            }

            .slick-next {
                top: 265px;

                @media (max-width:1199px) {
                    left: 90%;
                    top: 240px;
                }

                &:before {
                    content: url('../images/buttom-arrow.svg');
                    transition: all .3s ease-in-out;
                    opacity: 1;

                }

                &:hover {
                    &:before {
                        content: url('../images/buttom-arrow-hover.svg');
                    }
                }
            }

            // /Styling the default Slick dots
            .slick-dotted.slick-slider {
                margin-bottom: 0;
            }

            .slick-dots {
                display: flex;
                justify-content: center;
                margin: 0;
                padding: 1rem 0;
                list-style-type: none;
                bottom: -50px;

                li {
                    margin: 0 0.25rem;
                }

                button {
                    display: block;
                    width: 1rem;
                    height: 1rem;
                    padding: 0;
                    border: none;
                    border-radius: 100%;
                    background-color: $theme-primary-color;
                    text-indent: -1px;
                    font-size: 0;

                    &:before {
                        font-size: 0;
                    }
                }

                li.slick-active button {
                    background-color: $theme-primary-color-s2;
                }

            }
        }
    }
}

/* 3.8 wpo-blog-section */
.wpo-blog-section,
.wpo-blog-section-s2 {
    padding-bottom: 90px;

    @media (max-width:991px) {
        padding-bottom: 60px;
    }

    @media (max-width:767px) {
        padding-bottom: 50px;
    }

    .wpo-section-title {
        text-align: left;
        margin-bottom: 0;

        @media (max-width:1199px) {
            margin-right: 0;
        }

        @media (max-width:991px) {
            text-align: center;
            margin-bottom: 60px;
        }

        h2 {

            @media (max-width:1199px) {
                font-size: 55px;
                line-height: 65px;
            }

            @media (max-width:991px) {
                font-size: 40px;
                line-height: 50px;
            }

            @media (max-width:767px) {
                font-size: 30px;
                line-height: 40px;
            }

            @media (max-width:399px) {
                font-size: 25px;
                line-height: 35px;
            }
        }

        .theme-btn {
            margin-top: 35px;
            background: $theme-primary-color-s2;

            @media (max-width:991px) {
                margin-top: 20px;
            }
        }
    }

    .blog-single-card {
        background: $light;
        border-radius: 30px;
        padding: 20px;
        margin-bottom: 30px;

        @media (max-width:767px) {
            margin: 0 40px;
            margin-bottom: 30px;
        }

        @media (max-width:575px) {
            margin: 0;
            margin-bottom: 30px;
        }

        .image {
            background: $white;
            border-radius: 30px;
            text-align: center;
            padding: 20px 0;
            width: 100%;
            height: 260px;
            display: flex;
            justify-content: space-around;

            img {
                max-width: 100%;
            }
        }

        .content {
            margin: 28px 0;

            @media (max-width:1199px) {
                margin: 20px 0;
            }

            span {
                font-family: $heading-font;
                font-size: 17px;
                line-height: 22px;
                color: $theme-primary-color-s2;
            }

            h3 {
                font-size: 28px;
                line-height: 37px;
                color: $heading-color;
                margin-top: 8px;
                margin-bottom: 6px;

                @media (max-width:1399px) {
                    font-size: 26px;
                    line-height: 35px;
                }

                @media (max-width:1199px) {
                    font-size: 25px;
                }

                @media (max-width:767px) {
                    font-size: 20px;
                    line-height: 28px;
                }

            }

            p {
                font-weight: 400;
                font-size: 15px;
                line-height: 28px;
                color: $text-light-color;
                margin-bottom: 0;
            }
        }

        .theme-btn {
            margin-bottom: 10px;
            background: $white;
            color: $theme-primary-color;
            padding: 12px 32px;

            &:hover {
                color: $white;
            }
        }
    }

}