/*--------------------------------------------------------------
4. wpo-footer
--------------------------------------------------------------*/
.wpo-site-footer {
    background: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    background-size: cover;
    font-size: 15px;
    overflow: hidden;
    @media (max-width:1199px) {
        background: #F3ECDF;
    }

    ul {
        list-style: none;
    }

    p {
        color: $text-light-color;
    }

    li {
        color: $text-light-color;
    }

    .container {
        position: relative;
    }

    .wpo-upper-footer {
        padding: 70px 0;
        padding-top: 90px;
    }

    @media (max-width: 991px) {

        .wpo-upper-footer {
            padding: 50px 0 0;
        }
    }

    @media (max-width: 767px) {

        .wpo-upper-footer {
            padding: 60px 0 0;
        }
    }

    @media (max-width: 991px) {

        .wpo-upper-footer .col {
            min-height: 235px;
            margin-bottom: 70px;
        }
    }

    @media (max-width: 767px) {

        .wpo-upper-footer .col {
            min-height: auto;
            margin-bottom: 60px;
        }
    }

    .widget-title {
        margin-bottom: 30px;
    }

    @media (max-width: 767px) {

        .widget-title {
            margin-bottom: 20px;
        }
    }


    .widget-title {
        h3 {
            font-size: 23px;
            color: $dark-gray;
            margin: 0;
            position: relative;
            font-family: $heading-font;
        }
    }

    .about-widget {
        .logo {
            max-width: 180px;
        }
    }

    .about-widget {
        p {
            margin-bottom: 0.8em;
            line-height: 1.9em;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .about-widget {
        h4 {
            font-family: $heading-font;
            font-size: 20px;
            color: $theme-primary-color;
            @media(max-width:576px) {
               font-size: 15px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        .info{

            h3,span{

                @media(max-width:991px) {
                    font-size: 28px;
                 } 
                @media(max-width:767px) {
                    font-size: 24px;
                 } 
                @media(max-width:576px) {
                    font-size: 20px;
                 } 
            }
        }
    }

    .about-widget {
        h3 {
            font-family: $heading-font;
            font-size: 30px;

            &:last-child {
                margin-bottom: 0;
            }

            span {
                font-family: $heading-font;
                font-size: 30px;
                color: #1E3446;

            }
        }
    }

    .wpo-service-link-widget {
        padding-left: 40px;
        padding-right: 40px;

        @media(max-width:1200px) {
            padding-right: 0;
            padding-left: 0;
        }

        @media(max-width:991px) {
            padding-left: 0;
        }
    }

    .contact-ft {
        margin-top: 20px;

        ul {
            li {
                padding-bottom: 10px;
                position: relative;
                padding-left: 35px;
                color: $text-light-color;
                font-size: 15px;

                i {
                    position: absolute;
                    left: 0;
                    top: 0;
                }

                .fi:before {
                    font-size: 20px;
                    margin-right: 15px;
                }
            }
        }
    }

    .link-widget {
        overflow: hidden;


        @media screen and (min-width: 1400px) {
            padding-left: 75px;
        }

        @media screen and (min-width: 1200px) {
            padding-left: 40px;
        }

        @media (max-width: 1199px) {
            padding-left: 20px;
        }

        @media (max-width: 991px) {
            padding-left: 0;
        }

        @media (max-width: 767px) {
            max-width: 350px;
        }

        ul {
            li {
                position: relative;

                a {
                    color: $text-light-color;
                    font-weight: 500;
                    font-size: 15px;

                    &:hover {
                        color: $theme-primary-color;
                    }
                }
            }

            li+li {
                padding-top: 15px;
            }
        }
    }



    .social-widget {
        ul {
            li {
                a {
                    display: block;
                    font-size: 16px;
                    font-weight: 600;
                    color: $text-light-color;
                    margin-bottom: 10px;

                    &:hover {
                        color: $theme-primary-color;
                    }

                    i {
                        margin-right: 10px;
                    }
                }
            }
        }
    }


    .wpo-lower-footer {
        text-align: center;
        position: relative;
        margin-bottom: 30px;

        .lower-wrap {
            background: #F3ECDF;
            border-radius: 170px;
            @media (max-width:1199px) {
                background: $section-bg-color;
            }
        }

        .row {
            padding: 9px 50px;
            position: relative;
            align-items: center;
        }

        .copyright {
            font-size: 15px;
            font-size: 0.9375rem;
            margin: 0;
            color: $text-light-color;
            text-align: left;
            @media (max-width:1199px) {
                color: $dark-gray;
                padding-top: 5px;
            }

            @media (max-width:991px) { 
                text-align: center;
            }

            a {
                color: $theme-primary-color;
                text-decoration: none;
            }

            @media (max-width: 991px) {
                float: none;
                display: block;
            }
        }

        .social-icon {
            text-align: right;

            @media (max-width:991px) {
                text-align: center;
            }

            ul {
                overflow: hidden;
                display: inline-block;
                padding-top: 5px;

                li {
                    font-size: 22px;
                    float: left;

                    a {
                        color: $dark-gray;
                        width: 36px;
                        height: 36px;
                        line-height: 40px;
                        background: $white;
                        display: block;
                        text-align: center;
                        @include rounded-border(50%);
                        font-size: 18px;

                        &:hover {
                            color: $white;
                            background: $theme-primary-color;
                        }
                    }
                }

                li+li {
                    margin-left: 25px;
                    @media (max-width: 399px) {
                        margin-left: 15px;
                    }
                }
            }
        }
    }

    .instagram {
        ul {
            display: flex;
            flex-wrap: wrap;
            margin: 0px -3px;

            li {
                -ms-flex: 0 0 33.33%;
                flex: 0 0 33.33%;
                max-width: 33.33%;
                margin-bottom: 5px;
                padding: 0px 3px;

                img {
                    width: 100%;
                }
            }
        }
    }
}